{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/style.css' %}" />
    <script src="main.js"></script>
</head>
<header>
    {% if user.is_authenticated %}
        <p>Hi, {{user.username}}</p>
        <a href="{% url 'logout' %}">Logout</a>
    {% else %}
        <p>Vc n esta logado!</p>
        <a href="{% url 'login' %}">Login</a>
    {% endif %}
</header>
<body>
    {% block content %}
    {% endblock %}
</body>
</html>